{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">Quiz App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <p class="absolute right-40">Welcome {{user}}</p>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-danger ml-2" href="{% url 'customlogout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary ml-2" href="{% url 'customlogin' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary ml-2" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- django alert messages -->
    {% for message in messages %}
    <div id="alertbox" class="h-12 w-screen {{message.tags}} flex items-center justify-center">
        <div class="text-white text-center"> <span class="font-bold">Message</span>:{{message}} </div>
        <button class="absolute right-4" onclick="closerAlert()"></button>
      </div>
      {% endfor %}
    <script>
        function closerAlert(){
            let alert_message=document.getElementById('alertbox')
            alert_message.classList.add('hidden')
        }
    </script>


    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>
    <footer class="bg-light py-3">
        <div class="container text-center">
            <span class="text-muted">&copy; 2024 Quiz App. All rights reserved.</span>
        </div>
    </footer>
</body>
</html>
