{% extends 'base.html' %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg p-4 text-center" style="max-width: 500px; width: 100%;">
        <h1 class="text-success mb-4">Logged Out</h1>
        <a href="{% url 'home' %}" class="btn btn-primary">Go to Homepage</a>
    </div>
</div>
{% if messages %}
    <div class="alert-container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <!-- {{ message }} -->
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
