{% extends 'base.html' %}

{% block title %}{{ category.name }} Quizzes{% endblock %}

{% block content %}
<div class="mt-4">
    <h1 class="mb-4">Quizzes in {{ category.name }}</h1>
    <div class="list-group">
        {% for quiz in quizzes %}
            <a href="{% url 'quiz_detail' quiz.id %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ quiz.title }}</h5>
                <p class="mb-1">{{ quiz.description }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
