<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <form method="post" action="{% url 'submit_quiz' quiz.id %}">
        {% csrf_token %}
        {% for question in quiz.question_set.all %}
            <div>
                <p>{{ question.question_text }}</p>
                {% for choice in question.choice_set.all %}
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ choice.id }}">
                        {{ choice.choice_text }}
                    </label>
                {% endfor %}
            </div>
        {% endfor %}
        <a href="{'quiz_results'}"><button type="submit">Submit</button></a>
    </form>
</body>
</html>
